<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Entrepreneurs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <h1>MY PROFILE!!</h1>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Phone No.</th>
                <th>Email Address</th>
                <th>10th</th>
                <th>10th Org</th>
                <th>12th</th>
                <th>12th Org</th>
                <th>Graduation Degree</th>
                <th>Graduation Org</th>
                <th>Post Graduation Degree</th>
                <th>Post Graduation Org</th>
                <th>Gold Badges</th>
                <th>Silver Org</th>
                <th>Bronze Badges</th>
                
                
            </tr>
            
                
                <tr>
                    <td><%= users.name %></td>
                    <td><%= users.phoneNo %></td>
                    <td><%= users.email %></td>
                    <td><%= users.tenth %></td>
                    <td><%= users.tenth_org %></td>
                    <td><%= users.twelfth %></td>
                    <td><%= users.twelfth_org %></td>
                    <td><%= users.graduation_degree%></td>
                    <td><%= users.graduation_org %></td>
                    <td><%= users.post_graduation_degree %></td>
                    <td><%= users.post_graduation_org %></td>
                    <td><%= users.gold_badge %></td>
                    <td><%= users.silver_badge %></td>
                    <td><%= users.bronze_badge %></td>
                

                </tr>
               
        </table>

        <form action="/logout" method="POST">
            <button>LOGOUT</button>
        </form>
        
    </body>
</html>